<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Wear OS device -->
    <uses-feature android:name="android.hardware.type.watch" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:theme="@android:style/Theme.DeviceDefault"
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- Foreground tracking service -->
        <service
            android:name=".presentation.LocationService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <!-- Main App -->
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Wear libs -->
        <uses-library android:name="com.google.android.wearable" android:required="true"/>
        <uses-library android:name="wear-sdk" android:required="false"/>

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

    </application>

</manifest>
